<launch>
    <node name="stack_control" pkg="isaac_ros_navigation_goal" type="robot_tasks.py" output="screen"/>
    <node name="monitor_node" pkg="isaac_ros_navigation_goal" type="Monitor.py" output="screen"/>
    <node name="control_node" pkg="isaac_ros_navigation_goal" type="Control.py" output="screen"/>
    <group ns="carter1">
        <param name="map_yaml_path" value="home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/carter_warehouse_build_navigation.yaml" />
        <param name="iteration_count" type="int" value="5000" />
        <param name="goal_generator_type" type="str" value="GoalReader" />
        <param name="action_server_name" type="str" value="move_base" />
        <param name="obstacle_search_distance_in_meters" type="double" value="0.2" />
        <param name="goal_text_file_path" value="/home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/goals1.txt" />
        <rosparam param="initial_pose">[50.0, 53.0, 0, 0, 0, 1, 0] </rosparam>
        <node name="set_navigation_goal" pkg="isaac_ros_navigation_goal" type="set_goal.py" output="screen"/>
    </group>
    <group ns="carter2">
        <param name="map_yaml_path" value="home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/carter_warehouse_build_navigation.yaml" />
        <param name="iteration_count" type="int" value="5000" />
        <param name="goal_generator_type" type="str" value="GoalReader" />
        <param name="action_server_name" type="str" value="move_base" />
        <param name="obstacle_search_distance_in_meters" type="double" value="0.2" />
        <param name="goal_text_file_path" value="/home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/goals2.txt" />
        <rosparam param="initial_pose">[50.0, 38.0, 0, 0, 0, 1, 0] </rosparam>
        <node name="set_navigation_goal" pkg="isaac_ros_navigation_goal" type="set_goal.py" output="screen"/>
    </group>
    <group ns="carter3">
        <param name="map_yaml_path" value="home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/carter_warehouse_build_navigation.yaml" />
        <param name="iteration_count" type="int" value="5000" />
        <param name="goal_generator_type" type="str" value="GoalReader" />
        <param name="action_server_name" type="str" value="move_base" />
        <param name="obstacle_search_distance_in_meters" type="double" value="0.2" />
        <param name="goal_text_file_path" value="/home/russell/thesis_ws/src/navigation/isaac_ros_navigation_goal/assets/goals3.txt" />
        <rosparam param="initial_pose">[50.0, 23.0, 0, 0, 0, 1, 0] </rosparam>
        <node name="set_navigation_goal" pkg="isaac_ros_navigation_goal" type="set_goal.py" output="screen"/>
    </group>
</launch>


